*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    background: #9e8f7d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo-header{
    display: flex;
    align-items: center;
}
.logo img {
    height: 50px;
    margin-right: 10px;
}

body{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
    position: relative;
}
.main {
    padding-top: 10em;
    padding-bottom: 15rem;
}
.navi a{
    position: relative;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    margin-left: 40px;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    border: 2px solid #5f5a4d;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .contact-box{
    width: 100%;
    padding: 40px;
}

.contact-box h1{
    font-size: 20px;
    text-align: left;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #5f5a4d;
    margin: 30px 0;
    font-size: 15px;

}

.input-box input, textarea{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
}

.imagen img{
    width: 500px;

}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  /* Estilos para el título */
 h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 700;

  }
  
  /* Estilos para los enlaces de navegación */
  a {
    text-decoration: none;
    color: #337ab7;
    transition: color 0.2s ease;
  }
  
  a:hover {
    color: #23527c;
  }
  
  /* Estilos para los botones */
  button {
    background-color: #e3ded1;
    color: #4f493f;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 40px;
  }
  
  button:hover {
    background-color: #4f493f;
    color: #e3ded1;
  }
  
  

  /* Estilos para el título de sección */
  h2 {
    color: #666;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    
  }
  body {
    text-align: center
  }
  /* Estilos para el contenedor de navegación */
  .nav-container {
    border-color: black;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
  }
  
  .nav-container a {
    margin: 200 px;
    color: #fff;
  }
  
  .nav-container a:hover {
    color: #ccc;
  }